
<table class="tx-pb-mailexport" >
    <tr>
        <td><f:link.action action="csvExport" arguments="{newsletter:newsletter}" controller="Newsletter" style="padding:5px;background:#dadada;">Download CSV</f:link.action></td>
        <td><div style="padding-left: 50px;">Liste der Adressen herunter laden, die den Newsletter erhalten haben.</div></td>
    </tr>
</table>

