
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Newsletter&uuml;bersicht</h1>

<f:flashMessages />
<style>
	tr:nth-child(2n+1){
		background: #dadada;
	}
</style>
<table style="text-align: left;" class="tx_pbmailexport" >
	<tr style="height: 40px;">
		<th style="font-weight: bold;padding-left: 15px;padding-top: 10px;">Title</th>
		<th style="font-weight: bold;padding-left: 15px;padding-top: 10px;">Datum</th>
		<th style="font-weight: bold;padding-left: 15px;padding-top: 10px;">Uhrzeit</th>
	</tr>
	<f:for each="{newsletters}" as="newsletter">
		<tr>
			<td style="height: 25px;padding-right: 25px;padding-top: 8px; padding-left: 15px"><f:link.action action="show" arguments="{newsletter : newsletter}">{newsletter.title}</f:link.action></td>
			<td style="height: 25px;padding-top: 10px; padding-right: 15px"><f:link.action action="show" arguments="{newsletter : newsletter}"><f:format.date date="{newsletter.date}"format="d.m.Y H:i" /></f:link.action></td>
			<td style="height: 25px;padding-right: 25px;padding-top: 8px; padding-left: 15px"><f:format.date date="{newsletter.date}"format="H:i" /></td>
		</tr>
	</f:for>
</table>

</f:section>