
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Single View for Newsletter</h1>

<f:flashMessages />
<f:render partial="Newsletter/Properties" arguments="{newsletter:newsletter}" />
<f:link.action style="padding:5px;background:#dadada;display:block; margin-top:15px; width:85px" action="list">Zur &Uuml;bersicht</f:link.action><br />
</f:section>